@tailwind base;
@tailwind components;
@tailwind utilities;


/* small menu */

#menuToggle {
    display: block;
    position: relative;
    top: 33px;
    left: 24px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #ffffff;

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    display: block;
    width: 33px;
    height: 2px;
    margin-bottom: 8px;
    position: relative;

    background: #915fe2;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(52deg) translate(-2px, -1px);
    background: #ffffff;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #925FE2;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked~ul {
    transform: none;
}

.small {
    display: none;

}



.imgbanner {
    height: 20% !important;
}







@media only screen and (max-width: 768px) {

    .sidebar {
        display: none;
    }

    .maincontent {
        width: 100%;
    }

    .small {
        display: unset;
        width: 0;
    }

    .searchbox {
        margin-left: 64px;
        display: none;
    }

    .maindiv {
        flex-direction: column;
    }

    .cardsec1 {
        flex-direction: column;
        align-items: center;
    }

    .cardsec1>div {
        width: 45.1rem;
    }

    .cardsec2 {
        flex-direction: column;
    }

    .leftdiv1 {
        width: 100%;
    }

    .rightdivP {
        width: 100%;
    }

    .imgdegree {
        display: none;
    }

    .imgbag {
        display: none;
    }

    .banner {
        padding: 30px;

    }

    .leftsiddivbanner {
        font-size: 10px;
    }

    .leftsiddivbanner p:nth-child(1) {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .leftsiddivbanner h1 {
        font-size: 29px;
        line-height: 1.3;
    }

    .studentvector {
        width: 7rem;
        height: 7rem;
    }

    .bannerimgmain {
        top: 58px;
        right: -1rem;
    }

    .studentvector {
        width: 8rem;
        height: 8rem;
    }

    .bannerimgmain {
        top: 24px;
        right: 1rem;
    }

    .firstbottomdiv {
        justify-content: space-between;
    }
    #menu{
        height: 107vh;
        overflow-y:scroll ;
    }
    ::-webkit-scrollbar {
        width: 6px; /* You can adjust the width as needed */
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #6200ff; /* Change this to the color you want */
        border-radius: 6pxrgb(255, 255, 255)
    }
    
    ::-webkit-scrollbar-track {
        background-color: #ffffff; /* Change this to the color you want for the track */
    }

}


@media only screen and (max-width: 425px) {
    .leftsiddivbanner h1 {
        font-size: 29px;
        line-height: 1.3;
    }

    .studentvector {
        width: 7rem;
        height: 7rem;
    }

    .bannerimgmain {
        top: 58px;
        right: -1rem;
    }

    .cardsec1>div {
        width: 23.4rem;
    }

    .banner {
        padding: 1.25rem;
        padding-left: 5px;
    }
    #menu{
        height: 107vh;
        overflow-y:scroll ;
    }
    

}

@media only screen and (max-width: 375px) {
    .leftsiddivbanner h1 {
        font-size: 29px;
        line-height: 1.3;
    }

    .studentvector {
        width: 7rem;
        height: 7rem;
    }

    .bannerimgmain {
        top: 45px;
        right: -1rem;
    }

    .cardsec1>div {
        width: 20.4rem;
    }

    .banner {
        padding: 1.25rem;
        padding-left: 5px;
    }

    .leftsiddivbanner p:nth-child(1) {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .leftsiddivbanner h1 {
        font-size: 24px;
        line-height: 1.3;
    }
    #menu{
        height: 107vh;
        overflow-y:scroll ;
    }


}